MONGO_ROOT_USERNAME=lms_admin
MONGO_ROOT_PASSWORD=change_this_password
MONGO_DATABASE=EduManageLms
MONGO_REPLICA_KEY=replace_with_a_long_random_replica_set_key
JWT_KEY=change_this_to_a_random_secret_at_least_32_characters
JWT_ISSUER=EduManageLms
JWT_AUDIENCE=EduManageLms.Client
ASPNETCORE_ENVIRONMENT=Development
